body{
    background-color:rgb(3, 10, 29);
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    justify-content: center;
    grid-template-columns: 2fr 2fr 2fr;
    padding-top: 20px;
    animation-name: bodyanim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bodyanim{
    20% {background-color: rgb(3, 10, 29);}
    40% {background-color: rgb(16, 88, 94);}
    60% {background-color: rgb(78, 3, 3);}
    80% {background-color: rgb(56, 45, 45);}
    100% {background-color:rgb(2, 53, 2);}
}

.title{
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Goldman', cursive;
    text-align: center;
    font-style: italic;
    margin-top: -80px;
    margin-bottom: -80px;
}

.timeleft{
    grid-column: 1/2;
    text-align: center;
    font-size: 32px;
    color: whitesmoke;
    font-family: 'Goldman', cursive;
}

.counter{
    text-align: center;
}

#secs{
    font-size: 120px;
    margin-top: -30px;
}


#message{
    color: red;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Goldman', cursive;
    height: 40px;   
}

#Mainword{
    color: whitesmoke;
    text-align: center;
    font-size: 100px;
    margin-bottom: -80px;
    margin-top: 150px;
}

.inputtext{
    height: 200px;
    width: 600px;
    text-align: center;
}

#inputbox{
    border-radius: 30px;
    /* margin-top: 20px; */
    padding: 15px;
    width: 400px;
    border-color: black;
    border-style: dashed;
    box-shadow: 0 0 5px 2px lightslategrey;
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    background-color: gray;
}

.instruct{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Goldman', cursive;   
    text-align: center;
    width: 100%;
}

.made{
    text-align: center;
    /* margin-top: 230px; */
    color: whitesmoke;
    font-family: 'Goldman', cursive;

}

.currentscore{
    text-align: center;
    font-size: 32px;
    color: whitesmoke;
    font-family: 'Goldman', cursive;
    /* margin-top: -250px; */
}

#Score{
    font-size: 125px;
    margin-top: -30px;
}

@media(max-width:1120px)
{
    .title{
        padding-top: 10px;
        font-size: 40px;    
    }
    #Mainword{
       margin-top: 150px;
        font-size: 60px;
    }
    #inputbox{
        width:200px;
    }
    .timeleft{
        margin-right: -600px;
        font-size: 16px;
        margin-top:400px;
    }
    #secs{
        font-size: 30px;
        margin-top: -20px;
    }
    .currentscore{
        font-size: 16px;
        color: whitesmoke;
        font-family: 'Goldman', cursive;
        margin-left: -600px;
        margin-top:470px
    }
    #Score{
        font-size: 30px;
        margin-top: -20px;
    }
    .instruct{
        width:70%;
        margin-top: 150px;
        margin-left: 90px;
        font-weight: 200;
    }
}
